$("#payments_errors").empty()
- payment.errors.messages.each do |key, error_message|
  $("#payments_errors").append("<p>#{key}: ")
  - error_message.each do |em|
    $("#payments_errors").append("<span>#{em}</span>")
    $("#payments_errors").append("</p>")
