%h1 Items

= link_to 'Add', new_item_path, class: 'btn btn-success'

= render 'list', title: 'My items',items: my_items
= render 'list', title: 'Items which I participate',items: items_which_i_participate
